<div class="container">
  <div class="navbar"></div>
  <div class="word-field-container">
    
    <div class="word-field"  *ngIf="!complete" style="display:flex;flex-wrap: wrap; margin:0 5em; gap:20px 0">
      <div *ngFor="let word of sentence; index as i" style="padding:0 5px; display:flex" [ngStyle] = "{ 'text-decoration': i == index ? 'underline' : '', 'color' : 'gray' }">
        <div *ngFor="let letter of word.split(''), index as j" style="font-size: 25px; font-family:monospace;"[ngClass] = "{'incorrect' : !typedLetterArray[cumulativeLength(i) + j]?.valid && typedLetterArray[cumulativeLength(i) + j]!=undefined, 'correct' : typedLetterArray[cumulativeLength(i) + j]?.valid, 'predetermined':typedLetterArray[cumulativeLength(i) + j]==undefined}">
          {{letter}}
        </div>
      </div>
    </div>
    <div class="finished-screen" *ngIf="complete">
      Correct: {{correct}} Incorrect: {{incorrect}} 
      <div style="margin-top:20px;">
        WPM: {{wpm}} Time: {{time}}s
      </div>
    </div>
  </div>
  <h1 class="restart-button" (click)="restart()" style="width:auto">Restart</h1>
  <!-- <div class="type-field">
    <input style="border:none; padding:0; width:0" [(ngModel)]="typed" (keydown.space)="$event.preventDefault(); spaceEvent()" (keydown.backspace)="$event.preventDefault(); backspaceEvent()" (ngModelChange)="checkValid()" autofocus/>
  </div> -->
</div>
